[submodule "test/bin/Debug/vendor/IMGUI"]
	path = test/bin/Debug/vendor/IMGUI
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "vendor/IMGUI"]
	path = vendor/IMGUI
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "vendor/SPDLOG"]
	path = vendor/SPDLOG
	url = https://github.com/gabime/spdlog
