[submodule "vendor/IMGUI"]
	path = vendor/IMGUI
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "vendor/SPDLOG"]
	path = vendor/SPDLOG
	url = https://github.com/gabime/spdlog
[submodule "ASSIMP"]
	path = vendor/ASSIMP-5.0.1
	url = https://github.com/assimp/assimp.git
