
[submodule "test/bin/Debug/vendor/FMTY-7.0.3"]
	path = test/bin/Debug/vendor/FMTY-7.0.3
	url = https://github.com/fmtlib/fmt
[submodule "test/bin/Debug/vendor/FMT-7.0.3"]
	path = test/bin/Debug/vendor/FMT-7.0.3
	url = https://github.com/fmtlib/fmt
[submodule "vendor/FMT-7.0.3"]
	path = vendor/FMT-7.0.3
	url = https://github.com/fmtlib/fmt
